### COVID-19

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
zakazenia = pd.read_excel('merged.xlsx')

In [7]:
zakazenia

,wojewodztwo,powiat_miasto,liczba_przypadkow,liczba_na_10_tys_mieszkancow,zgony,zgony_w_wyniku_covid_bez_chorob_wspolistniejacych,zgony_w_wyniku_covid_i_chorob_wspolistniejacych,liczba_zlecen_poz,liczba_osob_objetych_kwarantanna,liczba_wykonanych_testow,liczba_testow_z_wynikiem_pozytywnym,liczba_testow_z_wynikiem_negatywnym,liczba_pozostalych_testow,teryt,stan_rekordu_na,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,CaĹ‚y kraj,CaĹ‚y kraj,10141,1964-02-01 00:00:00,540.0,55.0,485.0,40085,348135,47540,11502,34425,1613,t0000,2020-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN
1,dolnoĹ›lÄ…skie,bolesĹ‚awiecki,62,1989-06-01 00:00:00,2.0,0.0,2.0,140,1011,197,66,125,6,t0201,2020-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN
2,dolnoĹ›lÄ…skie,dzierĹĽoniowski,31,2022-08-03 00:00:00,NaN,NaN,NaN,63,755,107,31,74,2,t0202,2020-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN
3,dolnoĹ›lÄ…skie,gĹ‚ogowski,19,2014-02-01 00:00:00,1.0,0.0,1.0,111,1105,76,21,54,1,t0203,2020-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN
4,dolnoĹ›lÄ…skie,gĂłrowski,3,0.86,NaN,NaN,NaN,31,322,19,6,13,0,t0204,2020-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183736,zachodniopomorskie,wałecki,12,0,12,2027-02-01 00:00:00,0,2027-02-01 00:00:00,0,0,0,18,13,105,55,13,42,0,t3217,2022-03-18 00:00:00
183737,zachodniopomorskie,łobeski,15,0,15,2022-11-04 00:00:00,0,2022-11-04 00:00:00,0,0,0,23,7,105,56,16,39,1,t3218,2022-03-18 00:00:00
183738,zachodniopomorskie,Koszalin,48,4,52,1949-04-01 00:00:00,0.37,1987-04-01 00:00:00,0,0,0,24,23,227,276,59,210,7,t3261,2022-03-18 00:00:00
183739,zachodniopomorskie,Szczecin,268,37,305,1968-06-01 00:00:00,0.92,1961-07-01 00:00:00,0,0,0,308,197,1356,1207,324,868,15,t3262,2022-03-18 00:00:00
183740,zachodniopomorskie,Świnoujście,28,0,28,1985-06-01 00:00:00,0,1985-06-01 00:00:00,0,0,0,36,19,105,102,28,71,3,t3263,2022-03-18 00:00:00

In [8]:
zakazenia.to_excel('zakazenia_all.xlsx', index=False, encoding='utf-8-sig')