In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### Liczba zdarzeń drogowych w Warszawie 01.2018 - 12.2020

In [2]:
warszawa2018_20 = pd.read_excel("warszawa2018_20_v1.xlsx")
warszawa2018_20

,ID,MIEJSCOWOSC,ULICA_ADRES,NUMER_DOMU,DATA_ZDARZ,GODZINA_ZDARZ,SZOS_KOD,SZRD_KOD,NADR_KOD,STNA_KOD,...,SPAK_KOD,INWALIDA,LICZBA_PASOW,ULICA_SKRZYZ,SSUP_KOD,RONDO_WEZEL,STREFA_ZAMIESZKALA,ODLEGLOSC_SKRZYZ,KIERUNEK,STREFA_RUCHU
0,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,1.0,2,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609040,109702103,WARSZAWA,KONWIKTORSKA,NaN,2020-12-31,07:20:00,1,03,NaN,NaN,...,NaN,NaN,2.0,BONIFRATERSKA,NaN,NaN,NaN,NaN,NaN,NaN
609041,109702103,WARSZAWA,KONWIKTORSKA,NaN,2020-12-31,07:20:00,1,03,NaN,NaN,...,NaN,NaN,2.0,BONIFRATERSKA,NaN,NaN,NaN,NaN,NaN,NaN
609042,109702103,WARSZAWA,KONWIKTORSKA,NaN,2020-12-31,07:20:00,1,03,NaN,NaN,...,NaN,NaN,2.0,BONIFRATERSKA,NaN,NaN,NaN,NaN,NaN,NaN
609043,109702103,WARSZAWA,KONWIKTORSKA,NaN,2020-12-31,07:20:00,1,03,NaN,NaN,...,NaN,NaN,2.0,BONIFRATERSKA,NaN,NaN,NaN,NaN,NaN,NaN
609044,109702103,WARSZAWA,KONWIKTORSKA,NaN,2020-12-31,07:20:00,1,03,NaN,NaN,...,NaN,NaN,2.0,BONIFRATERSKA,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
wypadki2018_20 = warszawa2018_20[['ID','DATA_ZDARZ']]
wypadki2018_20

               ID DATA_ZDARZ
0       106651967 2018-01-01
1       106651967 2018-01-01
2       106651967 2018-01-01
3       106651967 2018-01-01
4       106651967 2018-01-01
...           ...        ...
609040  109702103 2020-12-31
609041  109702103 2020-12-31
609042  109702103 2020-12-31
609043  109702103 2020-12-31
609044  109702103 2020-12-31

[609045 rows x 2 columns]

In [4]:
wypadki2018_20 = wypadki2018_20.drop_duplicates()
wypadki2018_20

               ID DATA_ZDARZ
0       106651967 2018-01-01
7       106650103 2018-01-01
13      106658062 2018-01-01
20      106650043 2018-01-01
27      106651432 2018-01-01
...           ...        ...
609009  109702327 2020-12-31
609015  109702571 2020-12-31
609024  109703291 2020-12-31
609031  109702113 2020-12-31
609038  109702103 2020-12-31

[86078 rows x 2 columns]

In [5]:
wypadki2018_20 = wypadki2018_20.groupby("DATA_ZDARZ")["ID"].count()
wypadki2018_20

DATA_ZDARZ
2018-01-01     27
2018-01-02     72
2018-01-03     93
2018-01-04     81
2018-01-05    117
             ...
2020-12-27     24
2020-12-28     54
2020-12-29     72
2020-12-30     83
2020-12-31     48
Name: ID, Length: 1096, dtype: int64

In [6]:
wypadki2018_20.to_excel("all_zdarzenia_warszawa2018_20.xlsx")

### Liczba zdarzeń drogowych 01.2018 - 10.2021

In [7]:
warszawa2018_21 = pd.read_excel("warszawa2018_21_v1.xlsx")
warszawa2018_21

,ID,MIEJSCOWOSC,ULICA_ADRES,NUMER_DOMU,DATA_ZDARZ,GODZINA_ZDARZ,SZOS_KOD,SZRD_KOD,NADR_KOD,STNA_KOD,...,SPAK_KOD,INWALIDA,LICZBA_PASOW,ULICA_SKRZYZ,SSUP_KOD,RONDO_WEZEL,STREFA_ZAMIESZKALA,ODLEGLOSC_SKRZYZ,KIERUNEK,STREFA_RUCHU
0,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,1.0,2,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,106651967,WARSZAWA,BEMA,KASPRZAKA,2018-01-01,23:15:00,3,2,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759337,113354834,WARSZAWA,OSTROBRAMSKA,NaN,2021-10-31,17:30:00,3,3,NaN,NaN,...,NaN,NaN,NaN,RODZIEWICZÓWNY,NaN,NaN,NaN,NaN,NaN,NaN
759338,113354834,WARSZAWA,OSTROBRAMSKA,NaN,2021-10-31,17:30:00,3,3,NaN,NaN,...,NaN,NaN,NaN,RODZIEWICZÓWNY,NaN,NaN,NaN,NaN,NaN,NaN
759339,113354834,WARSZAWA,OSTROBRAMSKA,NaN,2021-10-31,17:30:00,3,3,NaN,NaN,...,NaN,NaN,NaN,RODZIEWICZÓWNY,NaN,NaN,NaN,NaN,NaN,NaN
759340,113354834,WARSZAWA,OSTROBRAMSKA,NaN,2021-10-31,17:30:00,3,3,NaN,NaN,...,NaN,NaN,NaN,RODZIEWICZÓWNY,NaN,NaN,NaN,NaN,NaN,NaN
759341,113354834,WARSZAWA,OSTROBRAMSKA,NaN,2021-10-31,17:30:00,3,3,NaN,NaN,...,NaN,NaN,NaN,RODZIEWICZÓWNY,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
wypadki2018_21 = warszawa2018_21[['ID','DATA_ZDARZ']]
wypadki2018_21 = wypadki2018_21.drop_duplicates()
wypadki2018_21

               ID DATA_ZDARZ
0       106651967 2018-01-01
7       106650103 2018-01-01
13      106658062 2018-01-01
20      106650043 2018-01-01
27      106651432 2018-01-01
...           ...        ...
759303  113059949 2021-10-31
759311  113059955 2021-10-31
759319  113060480 2021-10-31
759328  113085415 2021-10-31
759335  113354834 2021-10-31

[107119 rows x 2 columns]

In [10]:
wypadki2018_21 = wypadki2018_21.groupby("DATA_ZDARZ")["ID"].count()
wypadki2018_21

DATA_ZDARZ
2018-01-01     27
2018-01-02     72
2018-01-03     93
2018-01-04     81
2018-01-05    117
             ...
2021-10-27     98
2021-10-28     70
2021-10-29    108
2021-10-30     67
2021-10-31     36
Name: ID, Length: 1400, dtype: int64

In [11]:
wypadki2018_21.to_excel("all_zdarzenia_warszawa2018_21.xlsx")

### Liczba zdarzeń drogowych z udziałem pieszych 01.2018-12.2020

In [15]:
pedestrian_wypadki2018_20 = warszawa2018_20[['ID','DATA_ZDARZ','SSRU_KOD']]
pedestrian_wypadki2018_20

               ID DATA_ZDARZ SSRU_KOD
0       106651967 2018-01-01      NaN
1       106651967 2018-01-01      NaN
2       106651967 2018-01-01      NaN
3       106651967 2018-01-01      NaN
4       106651967 2018-01-01      NaN
...           ...        ...      ...
609040  109702103 2020-12-31      NaN
609041  109702103 2020-12-31      NaN
609042  109702103 2020-12-31      NaN
609043  109702103 2020-12-31        K
609044  109702103 2020-12-31        K

[609045 rows x 3 columns]

In [16]:
pedestrian_wypadki2018_20.drop(pedestrian_wypadki2018_20.loc[pedestrian_wypadki2018_20['SSRU_KOD']!='I'].index, inplace=True)
pedestrian_wypadki2018_20

C:\Users\aleks\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

               ID DATA_ZDARZ SSRU_KOD
95      106657592 2018-01-01        I
134     106651385 2018-01-01        I
219     106651781 2018-01-02        I
742     106656102 2018-01-03        I
872     106691249 2018-01-03        I
...           ...        ...      ...
608389  109701649 2020-12-30        I
608390  109701649 2020-12-30        I
608569  109700635 2020-12-30        I
608738  109702697 2020-12-31        I
608892  109703348 2020-12-31        I

[2892 rows x 3 columns]

In [17]:
pedestrian_wypadki2018_20.drop_duplicates(subset='ID')
pedestrian_wypadki2018_20

               ID DATA_ZDARZ SSRU_KOD
95      106657592 2018-01-01        I
134     106651385 2018-01-01        I
219     106651781 2018-01-02        I
742     106656102 2018-01-03        I
872     106691249 2018-01-03        I
...           ...        ...      ...
608389  109701649 2020-12-30        I
608390  109701649 2020-12-30        I
608569  109700635 2020-12-30        I
608738  109702697 2020-12-31        I
608892  109703348 2020-12-31        I

[2892 rows x 3 columns]

In [18]:
pedestrian_wypadki2018_20 = pedestrian_wypadki2018_20.groupby("DATA_ZDARZ")["ID"].count()
pedestrian_wypadki2018_20

DATA_ZDARZ
2018-01-01    2
2018-01-02    1
2018-01-03    6
2018-01-04    5
2018-01-05    7
             ..
2020-12-24    1
2020-12-25    1
2020-12-28    1
2020-12-30    6
2020-12-31    2
Name: ID, Length: 937, dtype: int64

In [19]:
pedestrian_wypadki2018_20.to_excel("pedestrian_zdarzenia_warszawa2018_21.xlsx")

### Liczba zdarzeń drogowych z udziałem rowerzystów 01.2018-12.2020

In [20]:
bike_wypadki2018_20 = warszawa2018_20[['ID','DATA_ZDARZ','RODZAJ_POJAZDU']]
bike_wypadki2018_20

               ID DATA_ZDARZ RODZAJ_POJAZDU
0       106651967 2018-01-01            NaN
1       106651967 2018-01-01            NaN
2       106651967 2018-01-01            NaN
3       106651967 2018-01-01          IS121
4       106651967 2018-01-01          IS107
...           ...        ...            ...
609040  109702103 2020-12-31            NaN
609041  109702103 2020-12-31          IS121
609042  109702103 2020-12-31          IS121
609043  109702103 2020-12-31            NaN
609044  109702103 2020-12-31            NaN

[609045 rows x 3 columns]

In [21]:
bike_wypadki2018_20.drop(bike_wypadki2018_20.loc[bike_wypadki2018_20['RODZAJ_POJAZDU']!='IS101'].index, inplace=True)
bike_wypadki2018_20

C:\Users\aleks\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

               ID DATA_ZDARZ RODZAJ_POJAZDU
326     106652207 2018-01-02          IS101
1427    106663984 2018-01-04          IS101
2060    106664032 2018-01-05          IS101
2254    106660265 2018-01-05          IS101
2831    106660274 2018-01-06          IS101
...           ...        ...            ...
607361  109696436 2020-12-28          IS101
607753  109699161 2020-12-29          IS101
608195  109701247 2020-12-30          IS101
608263  109701696 2020-12-30          IS101
608945  109703421 2020-12-31          IS101

[3153 rows x 3 columns]

In [22]:
bike_wypadki2018_20.drop_duplicates(subset='ID')
bike_wypadki2018_20

               ID DATA_ZDARZ RODZAJ_POJAZDU
326     106652207 2018-01-02          IS101
1427    106663984 2018-01-04          IS101
2060    106664032 2018-01-05          IS101
2254    106660265 2018-01-05          IS101
2831    106660274 2018-01-06          IS101
...           ...        ...            ...
607361  109696436 2020-12-28          IS101
607753  109699161 2020-12-29          IS101
608195  109701247 2020-12-30          IS101
608263  109701696 2020-12-30          IS101
608945  109703421 2020-12-31          IS101

[3153 rows x 3 columns]

In [23]:
bike_wypadki2018_20 = bike_wypadki2018_20.groupby("DATA_ZDARZ")["ID"].count()
bike_wypadki2018_20

DATA_ZDARZ
2018-01-02    1
2018-01-04    1
2018-01-05    2
2018-01-06    1
2018-01-09    1
             ..
2020-12-23    1
2020-12-28    2
2020-12-29    1
2020-12-30    2
2020-12-31    1
Name: ID, Length: 844, dtype: int64

In [24]:
bike_wypadki2018_20.to_excel("bike_zdarzenia_warszawa2018_21.xlsx")

### Średnia liczba lat kierowania

### Liczba zdarzeń drogowych, w których brały udział osoby pod wpływem alkoholu 01.2018-12.2020

### Liczba ofiar śmiertelnych 01.2018-12.2020

In [ ]:
warszawa_zakzenia_2020 = pd.read_csv("wypadki_zakazenia.csv", sep=";") #WYPADKI NA TERENIE WARSZAWY - BAZA SEWiK 2020
warszawa_zakzenia_2020

In [ ]:
pd.set_option('display.max_columns', None)
warszawa_2019_2020

In [ ]:
import plotly.express as px

grouped = warszawa_2019_2020.groupby(['DATA_ZDARZ']).count()
grouped = grouped['MIEJSCOWOSC']
fig = px.line(grouped,y="MIEJSCOWOSC")
fig.show()

In [ ]:
warszawa = pd.read_csv('D:\Licencjat\warszawa_zakazenia_covid19.csv')
warszawa = warszawa[['liczba_przypadkow', 'zgony', 'stan_rekordu_na']]
warszawa = warszawa[["stan_rekordu_na", "liczba_przypadkow", "zgony"]]
warszawa = warszawa.rename(columns={'stan_rekordu_na': 'data', 'liczba_przypadkow': 'nowe_przypadki_warsaw', 'zgony': 'zgony_warsaw'})
warszawa= warszawa.set_index('data')
warszawa.sort_index()
 
warszawa

In [ ]:
grouped

In [ ]:
new_df = grouped['2020-11-23': '2020-12-31']
fig = px.line(new_df,y="MIEJSCOWOSC")
fig.show()

In [ ]:
new_df

In [ ]:
new_warszawa = warszawa['2020-11-23': '2020-12-31']
new_warszawa = warszawa['nowe_przypadki_warsaw']
new_warszawa = new_warszawa['2020-11-23': '2020-12-31']
new_warszawa