In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [74]:
warszawa2018_21 = pd.read_csv("warszawa2018_21_v4.csv")
warszawa2018_21

C:\Users\aleks\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (9,25,26,29,39,40,43,44,45,46,51,53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
w2018_21_col =  set(list(warszawa2018_21.columns.values.tolist()))
w2018_21_col

In [75]:
wypadki = warszawa2018_21[['ID','DATA_ZDARZ']]
wypadki

               ID           DATA_ZDARZ
0       106651967  2018-01-01 00:00:00
1       106651967  2018-01-01 00:00:00
2       106651967  2018-01-01 00:00:00
3       106651967  2018-01-01 00:00:00
4       106651967  2018-01-01 00:00:00
...           ...                  ...
759337  113354834  2021-10-31 00:00:00
759338  113354834  2021-10-31 00:00:00
759339  113354834  2021-10-31 00:00:00
759340  113354834  2021-10-31 00:00:00
759341  113354834  2021-10-31 00:00:00

[759342 rows x 2 columns]

In [76]:
wypadki = wypadki.drop_duplicates()
wypadki

               ID           DATA_ZDARZ
0       106651967  2018-01-01 00:00:00
7       106650103  2018-01-01 00:00:00
13      106658062  2018-01-01 00:00:00
20      106650043  2018-01-01 00:00:00
27      106651432  2018-01-01 00:00:00
...           ...                  ...
759303  113059949  2021-10-31 00:00:00
759311  113059955  2021-10-31 00:00:00
759319  113060480  2021-10-31 00:00:00
759328  113085415  2021-10-31 00:00:00
759335  113354834  2021-10-31 00:00:00

[107119 rows x 2 columns]

In [77]:
wypadki.to_excel("wypadki warszawa.xlsx")

In [81]:
wypadki_v1 = wypadki.groupby("DATA_ZDARZ")["ID"].count()
wypadki_v1

DATA_ZDARZ
2018-01-01 00:00:00     27
2018-01-02 00:00:00     72
2018-01-03 00:00:00     93
2018-01-04 00:00:00     81
2018-01-05 00:00:00    117
                      ...
2021-10-27 00:00:00     98
2021-10-28 00:00:00     70
2021-10-29 00:00:00    108
2021-10-30 00:00:00     67
2021-10-31 00:00:00     36
Name: ID, Length: 1400, dtype: int64

In [82]:
wypadki_v1.to_excel("liczba_wypadków_warszawa.xlsx")

In [ ]:
import plotly.express as px

df = px.data.stocks()
fig = px.line(df, x='date', y="ID")
fig.show()

In [ ]:
from matplotlib import pyplot

f = plt.figure()
f.set_figwidth(25)
f.set_figheight(8)

wypadki_v1.plot()
pyplot.show()

In [ ]:
pd.DataFrame(wypadki)

In [ ]:
f = plt.figure()
f.set_figwidth(25)
f.set_figheight(8)

wypadki['2020'].plot()
pyplot.show()

In [ ]:
warszawa_zakzenia_2020 = pd.read_csv("wypadki_zakazenia.csv", sep=";") #WYPADKI NA TERENIE WARSZAWY - BAZA SEWiK 2020
warszawa_zakzenia_2020

In [ ]:
pd.set_option('display.max_columns', None)
warszawa_2019_2020

In [ ]:
warszawa_2019_2020['SZRD_KOD'] = warszawa_2019_2020['SZRD_KOD'].replace({'01':'zderzenie_pojazdow',
    '02': 'zderzenie_pojazdow', '03': 'zderzenie_pojazdow', '04': 'zderzenie_pojazdow',
    '04': 'najechanie_na_pieszego', '05': 'najechanie_na_pojazd_unieruchomiony',
    '06': 'najechanie_na_drzewo_slup_inny_obiekt', 'A1':'najechanie_na_drzewo_slup_inny_obiekt',
    'A2': 'najechanie_na_drzewo_slup_inny_obiekt', '07': 'najechanie_na_zapore_kolejowa',
    '08': 'najechanie_na_dziure_wyboj', '09': 'najechanie_na_zwierze', 'A3':'najechanie_na_drzewo_slup_inny_obiekt',
    '10': 'wywrocenie_sie_pojazdu', '11':'wypadek_z_pasazerem', '12': 'inne'})

In [ ]:
warszawa_2019_2020['RODR_KOD'] = warszawa_2019_2020['RODR_KOD'].replace({'01': 'autostrada',
    '02': 'ekspresowa', '03':'dwie_jezdnie_jednokierunkowe', '04': 'jednokierunkowa', '05': 'jednojezdniowa_dwukierunkowa'})

In [ ]:
warszawa_2019_2020['CHMZ_KOD'] = warszawa_2019_2020['CHMZ_KOD'].replace({'A3_2015': 'droga', 'B1': 'droga_rowerowa', 'A6_2015': 'parking', 'A1': 'droga',
    '12': 'droga', '11': 'pobocze', 'A2': 'pobocze', '10': 'chodnik', 'A3': 'droga_rowerowa', '01': 'przejscie_dla_pieszych', '02': 'przystanek', '03': 'przystanek',
    '04': 'torowisko', '05': 'torowisko', 'A4': 'torowisko', '06': 'przejazd_kolejowy', '07': 'przejazd_kolejowy',
    '08': 'most', '09': 'tunel', 'A5': 'most', '13': 'droga', 'A6': 'parking', '14': 'pobocze', '15': 'inne', 'A7': 'roboty_drogowe'})

In [ ]:
warszawa_2019_2020['SSWA_KOD'] = warszawa_2019_2020['SSWA_KOD'].replace({'01': 'dobre', '04': 'pochmurno', '02': 'oslepiajace_slonce',
    '03': 'wiatr', '05': 'deszcz', '06': 'snieg', '07': 'mgla'})

In [ ]:
warszawa_2019_2020 = warszawa_2019_2020.rename(columns={'SZRD_KOD': 'rodzaj_zdarzenia', 'RODR_KOD': 'rodzaj_drogi','SPIP_KOD': 'przyczyny_pozostale',
    'CHMZ_KOD': 'charakterystyka_miejsca_zdarzenia', 'SPAK_KOD': 'jednostka_alkoholowa', 'SSWA_KOD': 'warunki_atmosferyczne',
    'STUC_KOD': 'stan_uczestnika', 'SUSW_KOD': 'wplyw_srodkow', 'SPSZ_KOD': 'przyczyny_zachowanie', 'SUSU_KOD':'uprawnienia_do_kierowania',
    'SSRU_KOD': 'rodzaj_uczestnika', 'SOBY_KOD': 'obywatelstwo'})
warszawa_2019_2020

In [ ]:
import plotly.express as px

grouped = warszawa_2019_2020.groupby(['DATA_ZDARZ']).count()
grouped = grouped['MIEJSCOWOSC']
fig = px.line(grouped,y="MIEJSCOWOSC")
fig.show()

In [ ]:
warszawa = pd.read_csv('D:\Licencjat\warszawa_zakazenia_covid19.csv')
warszawa = warszawa[['liczba_przypadkow', 'zgony', 'stan_rekordu_na']]
warszawa = warszawa[["stan_rekordu_na", "liczba_przypadkow", "zgony"]]
warszawa = warszawa.rename(columns={'stan_rekordu_na': 'data', 'liczba_przypadkow': 'nowe_przypadki_warsaw', 'zgony': 'zgony_warsaw'})
warszawa= warszawa.set_index('data')
warszawa.sort_index()
 
warszawa

In [ ]:
grouped

In [ ]:
new_df = grouped['2020-11-23': '2020-12-31']
fig = px.line(new_df,y="MIEJSCOWOSC")
fig.show()

In [ ]:
new_df

In [ ]:
new_warszawa = warszawa['2020-11-23': '2020-12-31']
new_warszawa = warszawa['nowe_przypadki_warsaw']
new_warszawa = new_warszawa['2020-11-23': '2020-12-31']
new_warszawa